Source: genqr
Section: x11
Priority: extra
Maintainer: Felix Häcker <haecker.felix1207@gmail.com>
Build-Depends: 	cmake (>= 2.8),
               	debhelper (>= 8.0.0),
              	valac-0.16 | valac (>= 0.16)
		libqrencode-dev	
		libgtk-3-0 (>= 3.14)

Standards-Version: 3.9.3

Package: genqr
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: GTK3 QR Code generator
